@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hover-ring {
    @apply transition-all duration-300 ease-in-out hover:ring-2 hover:ring-offset-4 dark:ring-offset-slate-900;
  }

  .focus-ring {
    @apply ring-offset-2 transition-all duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2 dark:ring-offset-slate-900;
  }

  .ring-primary {
    @apply ring-indigo-600 dark:ring-indigo-400;
  }

  .ring-secondary {
    @apply ring-gray-300 dark:ring-gray-200;
  }

  .ring-danger {
    @apply ring-red-600 dark:ring-red-400;
  }

  .ring-success {
    @apply ring-green-600 dark:ring-green-400;
  }

  .hover-ring-primary {
    @apply hover-ring ring-primary;
  }

  .hover-ring-secondary {
    @apply hover-ring ring-secondary;
  }

  .hover-ring-danger {
    @apply hover-ring ring-danger;
  }

  .hover-ring-success {
    @apply hover-ring ring-success;
  }

  .focus-ring-primary {
    @apply focus-ring ring-primary;
  }

  .focus-ring-secondary {
    @apply focus-ring ring-secondary;
  }

  .focus-ring-danger {
    @apply focus-ring ring-danger;
  }

  .focus-ring-success {
    @apply focus-ring ring-success;
  }
}

@layer components {
  .article {
    display: grid;
    grid-template-columns: 1fr min(65ch, calc(100% - 2rem)) 1fr;
    @apply prose prose-base mt-2 w-full max-w-full gap-x-4 dark:prose-invert md:prose-lg prose-a:text-indigo-600 prose-a:no-underline hover:prose-a:underline dark:prose-a:text-indigo-400 md:px-0;
  }

  .article > * {
    @apply col-span-1 col-start-2;
  }

  .article pre {
    @apply focus-ring-primary col-span-full lg:col-span-1 lg:col-start-2;
  }

  article > pre > code {
    counter-reset: line;
  }

  article > pre > code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    display: inline-block;
    width: 1rem;
    margin-right: 1.5rem;
    text-align: right;
    color: gray;
  }

  article > pre > code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }

  article > pre > code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }
}

:root {
  --toastify-color-dark: #18181b;
  --toastify-text-color-dark: #d1d5db;
}
